:root {
  --background: oklch(0.9495 0.0055 274.9641);
  --foreground: oklch(0.2103 0.0107 311.9806);
  --card: oklch(0.9495 0.0055 274.9641);
  --card-foreground: oklch(0.2103 0.0107 311.9806);
  --popover: oklch(0.9495 0.0055 274.9641);
  --popover-foreground: oklch(0.2103 0.0107 311.9806);
  --primary: oklch(0.2315 0.1465 271.3636);
  --primary-foreground: oklch(0.9495 0.0055 274.9641);
  --secondary: oklch(0.8798 0.0141 272.6727);
  --secondary-foreground: oklch(0.2103 0.0107 311.9806);
  --muted: oklch(0.3069 0.0241 271.5484);
  --muted-foreground: oklch(0.7589 0.0229 309.4862);
  --accent: oklch(0.2950 0.1512 263.1635);
  --accent-foreground: oklch(0.9495 0.0055 274.9641);
  --destructive: oklch(0.6512 0.2348 26.7622);
  --destructive-foreground: oklch(0.2103 0.0107 311.9806);
  --border: oklch(0.3069 0.0241 271.5484);
  --input: oklch(0.3069 0.0241 271.5484);
  --ring: oklch(0.4343 0.2337 263.5659);
  --chart-1: oklch(0.8179 0.0942 251.3575);
  --chart-2: oklch(0.6231 0.2036 260.1915);
  --chart-3: oklch(0.5531 0.2467 262.8964);
  --chart-4: oklch(0.4946 0.2573 263.7210);
  --chart-5: oklch(0.4185 0.2115 264.7785);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary-foreground: oklch(0.9911 0 0);
  --sidebar-accent: oklch(0.9761 0 0);
  --sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-border: oklch(0.9280 0 0);
  --sidebar-ring: oklch(0.7122 0 0);
  --font-sans: Lexend, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Abhaya Libre, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0.65rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 35.5px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.16;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.08);
  --shadow-xs: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.08);
  --shadow-sm: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 1px 2px 1px hsl(0 0% 0% / 0.16);
  --shadow: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 1px 2px 1px hsl(0 0% 0% / 0.16);
  --shadow-md: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 2px 4px 1px hsl(0 0% 0% / 0.16);
  --shadow-lg: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 4px 6px 1px hsl(0 0% 0% / 0.16);
  --shadow-xl: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 8px 10px 1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.40);
  --tracking-normal: 0em;
  --spacing: 0.22rem;
}

.dark {
  --background: oklch(0.1839 0.0124 277.6779);
  --foreground: oklch(0.9655 0.0028 308.4281);
  --card: oklch(0.2188 0.0141 272.6562);
  --card-foreground: oklch(0.9655 0.0028 308.4281);
  --popover: oklch(0.2057 0.0143 272.5815);
  --popover-foreground: oklch(0.9655 0.0028 308.4281);
  --primary: oklch(0.7632 0.1261 289.2336);
  --primary-foreground: oklch(0.1738 0.0084 274.3863);
  --secondary: oklch(0.2450 0.0196 271.8414);
  --secondary-foreground: oklch(0.9655 0.0028 308.4281);
  --muted: oklch(0.2365 0.0157 274.1214);
  --muted-foreground: oklch(0.8531 0.0114 303.0840);
  --accent: oklch(0.5951 0.1112 288.1065);
  --accent-foreground: oklch(0.2057 0.0143 272.5815);
  --destructive: oklch(0.4029 0.1493 27.2180);
  --destructive-foreground: oklch(0.2108 0.0125 307.8043);
  --border: oklch(0.2581 0.0212 272.9289);
  --input: oklch(0.3069 0.0241 271.5484);
  --ring: oklch(0.6578 0.0407 275.3682);
  --chart-1: oklch(0.7632 0.1261 289.2336);
  --chart-2: oklch(0.6888 0.1205 288.3343);
  --chart-3: oklch(0.6183 0.1501 287.4636);
  --chart-4: oklch(0.4707 0.2153 279.9829);
  --chart-5: oklch(0.4111 0.2268 275.8993);
  --sidebar: oklch(0.1645 0.0086 274.3354);
  --sidebar-foreground: oklch(0.9655 0.0028 308.4281);
  --sidebar-primary: oklch(0.8668 0.0703 290.2411);
  --sidebar-primary-foreground: oklch(0.9655 0.0028 308.4281);
  --sidebar-accent: oklch(0.3069 0.0241 271.5484);
  --sidebar-accent-foreground: oklch(0.9655 0.0028 308.4281);
  --sidebar-border: oklch(0.3069 0.0241 271.5484);
  --sidebar-ring: oklch(0.3954 0.0359 276.2325);
  --font-sans: Lexend, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Abhaya Libre, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0.65rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 35.5px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.16;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.08);
  --shadow-xs: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.08);
  --shadow-sm: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 1px 2px 1px hsl(0 0% 0% / 0.16);
  --shadow: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 1px 2px 1px hsl(0 0% 0% / 0.16);
  --shadow-md: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 2px 4px 1px hsl(0 0% 0% / 0.16);
  --shadow-lg: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 4px 6px 1px hsl(0 0% 0% / 0.16);
  --shadow-xl: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.16), 2px 8px 10px 1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 2px 2px 35.5px 2px hsl(0 0% 0% / 0.40);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}